{% extends 'base.html' %}

{% block title %}
    Student Detail Info
{% endblock title %}

{% block content %}

    {% if user.is_authenticated  %}
        <div class = 'row text-center'>
            <div class = 'col'>
                <h4> Student Detail Info </h4>
            </div>
        </div>
    {% endif %}
    <div class = 'row' id = "students-detail"></div>

    <script>
        function getGender(gender){
            var curgender = gender == 'M' ? 'Male' : 'Female'
            return "<h6 style = 'color: Brown;'><i style = 'color: Darkblue;'>Gender:</i> " + curgender + "</h6>"
            }

        function handleDidClickEditButton(studentid){
            window.location = `/editStudent/${studentid}/`
        }

        function handleDidClickDeleteButton(studentid){
            window.location = `/deleteStudent/${studentid}/`
        }

        function getEditbutton(studentid){
            return "<div class = 'btn btn-group'><button class = 'btn btn-dark' onclick = handleDidClickEditButton(" + studentid + ")>Update</button></div>"
        }

        function getDeletebutton(studentid){
            return "<div class = 'btn btn-group'><button class = 'btn btn-danger' onclick = handleDidClickDeleteButton(" + studentid + ")>Delete</button></div>"
        }

        function studentFullDetail(student){
            const detailstuct = "<div class = 'row text-center'></div>"
            var detailformat = "<div class = 'col-12 col-md-10 mx-auto border border-warning rounded py-3 mb-4 student' id='student-"+ student.id +"'>"
            var curname = "<h6 style = 'color: Brown;'><i style = 'color: Darkblue;'>Name:</i> " + student.full_name + "</h6>"
            var curage = "<h6 style = 'color: Brown;'><i style = 'color: Darkblue;'>Age:</i> " + student.age + "</h6>"
            var curgender = getGender(student.gender)
            var standard = "<h6 style = 'color: Brown;'><i style = 'color: Darkblue;'>Standard:</i> " + student.standard + "</h6>"
            var joiningdate = "<h6 style = 'color: Brown;'><i style = 'color: Darkblue;'>Joining Date:</i> " + student.joining_date + "</h6>"
            var studentaddress = student.student_address[0]
            var housename = "<h6 style = 'color: Brown;'><i style = 'color: Darkblue;'>Housename:</i> " + studentaddress.housename + "</h6>"
            var society = "<h6 style = 'color: Brown;'><i style = 'color: Darkblue;'>Society:</i> " + studentaddress.society + "</h6>"
            var pincode = "<h6 style = 'color: Brown;'><i style = 'color: Darkblue;'>Pincode:</i> " + studentaddress.pincode + "</h6>"
            var district = "<h6 style = 'color: Brown;'><i style = 'color: Darkblue;'>District:</i> " + studentaddress.district + "</h6>"
            var studentcontact = student.student_contact[0]
            var email = "<h6 style = 'color: Brown;'><i style = 'color: Darkblue;'>EmailId:</i> " + studentcontact.email + "</h6>"
            var phoneNo = "<h6 style = 'color: Brown;'><i style = 'color: Darkblue;'>PhoneNo:</i> " + studentcontact.phone + "</h6>"
            var details = detailstuct + detailformat + curname + curage + curgender + standard + joiningdate + housename + society + pincode + district + email + phoneNo + getEditbutton(student.id) + getDeletebutton(student.id) + "</div>"
            return details
        }

        function handleUnAuthorizedUser(){
            var display = "<p><b>You are not allowed to view this.. Please login first !!!</b>" +
            " <a class = 'btn btn-primary btn-sm' href=" + "{% url 'login' %}" + ">Login</a></p>"
            return display
        }

        function handleDidClickDetailButton(studentDetailElement, studentid){
            const url = `/GetStudentDetail/${studentid}`
            const method = 'GET'
            const responseType = 'json'
            const xhr = new XMLHttpRequest()
            xhr.responseType = responseType
            xhr.open(method,url)
            xhr.onload = function(){
                // console.log(xhr.response)
                const student = xhr.response
                if (xhr.status === 200){
                    const answer = studentFullDetail(student)
                    studentDetailElement.innerHTML = answer      
                }
                else if (xhr.status === 401){
                    const userNotAllowed = handleUnAuthorizedUser()
                    studentDetailElement.innerHTML = userNotAllowed
                }
                else{
                    alert('some other response')
                }
            }
            xhr.send()
        }

        const studentDetailElement = document.getElementById('students-detail')
        var studentid = '{{ studentid }}'
        handleDidClickDetailButton(studentDetailElement,studentid)

    </script>

{% endblock content %}